---
import "../../css/styles.css";
import Head from "./Head.astro";
import Nav from "../../components/Nav.astro";

const props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head {...props} />
    </head>
    <body>
        <header class="site-header wrapper">
            <Nav />
        </header>

        <main class="wrapper">
            <slot>Contenido default por si se me olvida poner algo</slot>
        </main>
    </body>
</html>
