---
import Base from "../layouts/Base/Base.astro";
---

<Base title="Contacto">
    <h1>Contact Page</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus
        adipisci maxime aliquam, rem eaque corrupti assumenda reiciendis
        molestias blanditiis beatae consectetur necessitatibus recusandae animi
        amet illum rerum dolore tenetur aspernatur.
    </p>
</Base>
