---
import Base from "../layouts/Base.astro";
---

<Base title="Hello">
    <h1>Hello World</h1>
    <p>El pipa higuain es el mejor jugador del mundo y bla bla bla</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        repellat obcaecati tempora molestias accusamus quos alias distinctio,
        ullam non aliquid hic est veritatis omnis esse deserunt. Tenetur ullam
        nobis quidem.
    </p>
</Base>
